/* Main tailwindcss */
@import "tailwindcss";


/* Daisyui plugin */
@plugin "daisyui";

/* Set global Fonts, Primary, Secondary & accent colors */
body {
  font-family: var(--font-body);
    background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  color: #000000;
  font-weight: 700;
}

.action {
  font-family: var(--font-action);
  font-weight: 700;
}

/* Icons */
.icons {
  @apply bg-slate-200/80 text-black hover:bg-gray-400 font-bold cursor-pointer;
}

/* Badges */
.badge-icons {
  @apply bg-slate-200/80 text-black hover:bg-gray-400 font-bold;
}

/* Theme logic */
@plugin "daisyui" {
  themes: light --default;
}

