@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* Set global Fonts */

body {
  font-family: var(--font-body);
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
  color: #000000;
  font-weight: 700;
}

.action {
  font-family: var(--font-action);
  font-weight: 700;
}

/* Homepage icons */
.icons {
  @apply bg-slate-200/80 text-black hover:bg-gray-400 font-bold cursor-pointer;
}
