html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2c3e50;
}
.container {
  background: #fff;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}

.logo-img {
  width: 25%;
  height: 25%;
  border-radius: 8%;
  padding: 5px;
  border-radius-top-left-radius: 20%;
}
